@using FNSpriteCollector.Models
@using FNSpriteCollector.Shared

@using MudBlazor

@inject FNSpriteCollector.Services.SpriteDbService SpriteService

@if (!_isLoading && BaseSprite.Id > 0)
{    
    <MudCard>
        <MudCardContent>
            <MudGrid Spacing="2" Justify="Justify.FlexStart">
                <MudItem>
                    <MudImage Src="@BaseSprite.ImageBase64"
                              Width="80"
                              Height="80"
                              ObjectFit="ObjectFit.Contain" />
                </MudItem>
                <MudItem Class="pt-4">
                    <MudText Typo="Typo.h5">@BaseSprite.Family</MudText>

                    <MudSpacer />

                    <span class="sprite-pill sprite-rarity-@SpriteHelpers.GetRarityColor(BaseSprite.Rarity)">
                        @BaseSprite.Rarity
                    </span>

                </MudItem>
                
            </MudGrid>
            <MudItem Class="mt-2" >
                <MudGrid Spacing="4" Justify="Justify.SpaceEvenly"> 
                    @if (_filteredSprites.Count == 0)
                    {
                        string ownedText = ViewFilter switch
                        {
                            FilterOwned.Need => "owned",
                            FilterOwned.Owned => "needed",
                            _ => ""
                        };

                        string maxedText = MaxedFilter switch
                        {
                            FilterMaxed.Maxed => "not maxed",
                            FilterMaxed.NotMaxed => "maxed",
                            _ => ""
                        };

                        string text = string.Empty;

                        if(ownedText == "")
                        {
                            text = $"{maxedText}.";

                        }
                        else if (maxedText == "")
                        {
                            text = $"{ownedText}.";
                        }
                        else
                        {
                            text = $"{ownedText} or {maxedText}.";
                        }


                        <MudItem xs="12" class="d-flex justify-center">
                            <MudText Typo="Typo.subtitle1">All variants of this sprite are @text</MudText>
                        </MudItem>
                    }
                    else
                    {
                        @foreach (var item in _filteredSprites)
                        {
                            <MudItem>
                                <MudPaper Outlined="true" Elevation="3">

                                    <MudText Typo="Typo.subtitle1" class="d-flex justify-center">
                                        @item.SpriteData.Variant
                                    </MudText>
                                    @{
                                        string text = string.Empty;
                                        Variant variantColor = Variant.Text;
                                        MudBlazor.Color chipColor = Color.Info;
                                        string icon = string.Empty;

                                        if (item.OwnedData.IsMax)
                                        {
                                            text = "Maxed";
                                            variantColor = Variant.Filled;
                                            chipColor = Color.Success;
                                            icon = Icons.Material.Filled.Check;
                                        }
                                        else if (item.OwnedData.IsOwned)
                                        {
                                            text = $"Owned ({item.OwnedData.Level})";
                                            variantColor = Variant.Filled;
                                            chipColor = Color.Info;
                                        }
                                        else
                                        {
                                            text = "Need";
                                            variantColor = Variant.Text;
                                            chipColor = Color.Info;
                                        }

                                        <MudMenu>
                                            <ActivatorContent>
                                                <MudChip T="string" 
                                                Icon="@icon" 
                                                Color="@chipColor" 
                                                Variant="@variantColor"
                                                OnClick="@(() => context.ToggleAsync())">
                                                    @text
                                                </MudChip>
                                            </ActivatorContent>
                                            <ChildContent>
                                                <MudMenuItem Label="Need" OnClick="@(() => ToggleSprite(item.OwnedData, "Need"))"/>
                                                <MudMenuItem Label="Owned" OnClick="@(() => ToggleSprite(item.OwnedData, "Owned"))"/>
                                                <MudMenuItem Label="Maxed" OnClick="@(() => ToggleSprite(item.OwnedData, "Maxed"))"/>
                                            </ChildContent>
                                        </MudMenu>

                                    }
                                </MudPaper>
                            </MudItem>
                        }

                    }

                </MudGrid>

            </MudItem>
        </MudCardContent>
    </MudCard>
}
else
{
    if (BaseSprite.Id > 0)
    {
        <SpriteLoadingProgess />                 
    }
}

@code {
    [Parameter]
    public FnSprite BaseSprite { get; set; }

    [Parameter]
    public List<SpriteDTO> Sprites { get; set; }

    [Parameter]
    public FilterOwned ViewFilter { get; set; } = FilterOwned.All;

    [Parameter]
    public FilterMaxed MaxedFilter { get; set; } = FilterMaxed.All;

    private List<SpriteDTO> _filteredSprites;

    private bool _isLoading = true;

    protected override async Task OnInitializedAsync() // Load data when page first appears
    {
        SpriteService.OnChange += StateHasChanged;

        _isLoading = false;
        // StateHasChanged() is called automatically after the async method finishes
    }

    protected override async Task OnParametersSetAsync()
    {
        await ApplyFilters();
    }

    private async Task ApplyFilters()
    {
        _filteredSprites = Sprites;

        switch (ViewFilter)
        {         
            case FilterOwned.Need:
                _filteredSprites = Sprites.Where(s => !s.OwnedData.IsOwned).ToList();                
                StateHasChanged();
                return;
            case FilterOwned.Owned:
                _filteredSprites = Sprites.Where(s => s.OwnedData.IsOwned).ToList();
                break;
            default:
                _filteredSprites = Sprites;
                break;
        }

        switch (MaxedFilter)
        {
            case FilterMaxed.Maxed:
                _filteredSprites = _filteredSprites.Where(s => s.OwnedData.IsMax).ToList();
                break;
            case FilterMaxed.NotMaxed:
                _filteredSprites = _filteredSprites.Where(s => !s.OwnedData.IsMax).ToList();
                break;
            default:
                // No additional filtering needed
                break;
        }

        StateHasChanged();
    }


    private async Task ToggleSprite(OwnedSprite sprite, string newStatus)
    {
        Console.WriteLine($"Toggling status for sprite: {sprite.Id} to {newStatus}");

        switch (newStatus)
        {
            case "Need":
                sprite.IsOwned = false;
                sprite.IsMax = false;
                sprite.Level = 1;
                break;  
            case "Owned":
                sprite.IsOwned = true;
                sprite.IsMax = false;
                sprite.Level = 1;
                break;
            case "Maxed":
                sprite.IsOwned = true;
                sprite.IsMax = true;
                sprite.Level = 5;
                break;
            default:
                Console.WriteLine($"Unknown status: {newStatus}");
                return; // Exit the method if the status is unknown
        }

        await SpriteService.UpdateOwnedSpriteAsync(sprite);
        StateHasChanged();
    }
}
