@using FNSpriteCollector.Shared.Models
@using FNSpriteCollector.Shared

@using MudBlazor

@inject FNSpriteCollector.Services.SpriteDbService SpriteService

@if (!_isLoading)
{
    <MudCard Class="mb-2">
        <MudCardContent>
            <MudGrid Spacing="2" Justify="Justify.FlexStart" >
                <MudItem>
                    <MudImage Src="@Sprite.SpriteData.ImageBase64"
                              Width="80"
                              Height="80"
                              ObjectFit="ObjectFit.Contain" />                    
                </MudItem>
                <MudItem Class="pt-4">
                    <MudText Typo="Typo.h5">@Sprite.SpriteData.Name</MudText>
                    
                    <MudSpacer />

                    <span class="sprite-pill sprite-rarity-@SpriteHelpers.GetRarityColor(Sprite.SpriteData.Rarity)">
                        @Sprite.SpriteData.Rarity
                    </span>

                </MudItem>
            </MudGrid>

            <MudItem Class="mt-2" >
                <MudGrid Spacing="4" Justify="Justify.SpaceAround"> 
                    <MudItem xs="6" sm="3">                        
                        @if (Sprite.OwnedData.IsAlive)
                        {
                            <MudChip T="string"
                                    Color="Color.Success"
                                    OnClick="() => ToggleAlive(Sprite.OwnedData)">
                                Alive
                            </MudChip>
                        }
                        else
                        {
                            <MudChip T="string"
                                    Color="Color.Error"
                                    OnClick="() => ToggleAlive(Sprite.OwnedData)">
                                Dead
                            </MudChip>
                        }                        
                    </MudItem>


                    <MudItem xs="6" sm="3">
                        <MudMenu>
                            <ActivatorContent>
                                <MudChip T="string"
                                         Color="Color.Default"
                                         Variant="Variant.Outlined"
                                         OnClick="@(() => context.ToggleAsync())">
                                    Level @Sprite.OwnedData.Level
                                </MudChip>
                            </ActivatorContent>
                            <ChildContent>
                                <MudMenuItem Label="Level 1" OnClick="() => OnLevelChanged(Sprite.OwnedData, 1)" />
                                <MudMenuItem Label="Level 2" OnClick="() => OnLevelChanged(Sprite.OwnedData, 2)" />
                                <MudMenuItem Label="Level 3" OnClick="() => OnLevelChanged(Sprite.OwnedData, 3)" />
                                <MudMenuItem Label="Level 4" OnClick="() => OnLevelChanged(Sprite.OwnedData, 4)" />
                                <MudMenuItem Label="Level 5" OnClick="() => OnLevelChanged(Sprite.OwnedData, 5)" />
                            </ChildContent>
                        </MudMenu>
                    </MudItem>
                
                    <MudItem xs="6" sm="3">
                        @if (Sprite.OwnedData.IsMax)
                        {
                            <MudChip T="string"
                                    Color="Color.Info" 
                                    OnClick="() => ToggleMax(Sprite.OwnedData)">
                                Maxed
                            </MudChip>
                        }
                        else
                        {
                            <MudChip T="string" 
                                    Color="Color.Warning" 
                                    Variant="Variant.Text"
                                    OnClick="() => ToggleMax(Sprite.OwnedData)">
                                Not Maxed
                            </MudChip>
                        }
                    </MudItem>


                    <MudItem xs="6" sm="3">
                        @if (Sprite.OwnedData.IsOwned)
                        {
                            <MudChip T="string" Color="Color.Info" 
                                    Icon="@Icons.Material.Filled.Check" 
                                    OnClick="() => ToggleOwned(Sprite.OwnedData)">
                                Owned
                            </MudChip>
                        }
                        else
                        {
                            <MudChip T="string" 
                                    Color="Color.Info"
                                    Variant="Variant.Text" 
                                    OnClick="() => ToggleOwned(Sprite.OwnedData)">
                                Need
                            </MudChip>
                        }
                    </MudItem>
                    
                </MudGrid>
            </MudItem>

        </MudCardContent>
    </MudCard>
}
else
{
    <SpriteLoadingProgess />
}

@code {
    [Parameter]
    public SpriteDTO Sprite { get; set; }

    private bool _isLoading = true;                

    protected override async Task OnInitializedAsync() // Load data when page first appears
    {
        SpriteService.OnChange += StateHasChanged;

        _isLoading = false;
        // StateHasChanged() is called automatically after the async method finishes
    }

    private async Task ToggleOwned(OwnedSprite sprite)
    {
        Console.WriteLine("Toggling Owned status for sprite: " + sprite.Id);
        sprite.IsOwned = !sprite.IsOwned;

        await SpriteService.UpdateOwnedSpriteAsync(sprite);

        StateHasChanged();
    }

    private async Task ToggleAlive(OwnedSprite sprite)
    {
        Console.WriteLine("Toggling Alive status for sprite: " + sprite.Id);
        sprite.IsAlive = !sprite.IsAlive;

        await SpriteService.UpdateOwnedSpriteAsync(sprite);

        StateHasChanged();
    }

    private async Task ToggleMax(OwnedSprite sprite)
    {
        Console.WriteLine("Toggling Max status for sprite: " + sprite.Id);
        sprite.IsMax = !sprite.IsMax;

        if (sprite.IsMax)
        {
            sprite.Level = 5; // Set level to 5 if maxed
        }

        await SpriteService.UpdateOwnedSpriteAsync(sprite);

        StateHasChanged();
    }

    private async Task OnLevelChanged(OwnedSprite sprite, int newValue)
    {
        Console.WriteLine($"Updating Level for {sprite.Id} from {sprite.Level} to {newValue}");
        sprite.Level = newValue;
        await SpriteService.UpdateOwnedSpriteAsync(sprite);

        StateHasChanged();
    }
}
